body {
  font-family: "Noto Sans Mono", sans-serif;
  margin: 0;
}

.gw-default-shadow {
  box-shadow: 0px 1px 4px grey;
}

.gw-glass-card {
  background: rgba(254,245,238,0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.gw-top-navbar {
  display: flex;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-color: white;
}

.gw-top-navbar > .header {
  display: flex;
  width: 100%;
  height: 100px;
}

.gw-top-navbar > .header p {
  font-size: 20px;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}

.gw-top-navbar > .header > .left {
  display: inline-flex;
  height: 100%;
  width: 33%;
  margin: auto;
}

.gw-top-navbar > .header > a {
  display: inline-flex;
  height: 100%;
  width: 100px;
  margin: auto;
}

.gw-top-navbar > .header > center > .gw-logo {
  height: 100%;
  margin: auto;
}

.gw-top-navbar > .header > .right {
  display: inline-flex;
  height: 100%;
  width: 33%;
  margin: auto;
}

.gw-contacts-bar {
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: 300px;
}

.gw-contacts-bar > .header {
  display: inline-flex;
  height: 80px;
  width: 100%;
}

.gw-contacts-bar > .header p {
  font-size: 30px;
  font-weight: bold;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}

.gw-contacts-bar > .body {
  height: 220px;
  width: 100%;
}

.gw-contacts-bar > .body > .contact {
  display: inline-flex;
  width: 100vw;
  height: 100px;
  text-align: center;
}

.gw-contacts-bar > .body > .contact * {
  overflow: hidden;
}

.gw-contacts-bar > .body > .contact a {
  text-decoration: none;
  margin: auto;
}

.gw-contacts-bar > .body > .contact p {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  margin: auto;
  vertical-align: middle;
}

.barcode {
  font-family: "Libre Barcode 39 Extended Text", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .gw-top-navbar > .header > .left > .projects {
    display: none;
  }

  .gw-top-navbar > .header > .right > .payments {
    display: none;
  }
}

@keyframes gw-bg-tread {
  0% {
    background-color: #ccffcc;
  }
  16.7% {
    background-color: #ccccff;
  }
  33.3% {
    background-color: #ffcccc;
  }
  50% {
    background-color: #ffffcc;
  }
  66.7% {
    background-color: #ccffff;
  }
  83.3% {
    background-color: #ffccff;
  }
  100% {
    background-color: #ccffcc;
  }
}

@keyframes gw-tread {
  0% {
    color: #00ff00;
  }
  16.7% {
    color: #0000ff;
  }
  33.3% {
    color: #ff0000;
  }
  50% {
    color: #ffff00;
  }
  66.7% {
    color: #00ffff;
  }
  83.3% {
    color: #ff00ff;
  }
  100% {
    color: #00ff00;
  }
}

.gw-bg-tread-anim {
  animation: gw-bg-tread 32s steps(1000, end) infinite;
}

.gletter-1 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -32.0s;
}


.gletter-2 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -31.6s;
}

.gletter-3 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -31.2s;
}

.gletter-4 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -30.8s;
}

.gletter-5 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -30.4s;
}

.gletter-6 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -30.0s;
}

.gletter-7 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -29.6s;
}

.gletter-8 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -29.2s;
}

.gletter-9 {
  animation: gw-tread 32s steps(1000, end) infinite;
  animation-delay: -28.8s;
}
