html {
  overflow-x: hidden;
}

.index-body .contents {
  width: 100%;
}

.index-body > .contents > * {
  display: block;
  width: 100vw;
}

.index-body > .contents > .header {
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 3px 20px;
  width: fit-content;
  border-radius: 25px 25px 25px 25px;
}

.index-body > .contents > .header > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.index-body > .contents > .header > h1 {
  margin-top: 0px;
}

.index-body > .contents > .header > .small-print {
  text-align: left;
  font-size: 10px;
}

.index-body > .contents > .body {
  margin-top: 20px;
}

.index-body > .contents > .body > .apps {
  display: inline-flex;
  width: 100%;
  font-weight: bold;
}

.index-body > .contents > .body > .apps > .spacer {
  width: calc(50vw - 160px);
}

.index-body > .contents > .body > .apps > .app {
  background-color: white;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 140px;
  height: 140px;
  border-radius: 25px 25px 25px 25px;
  margin: auto;
}

.index-body > .contents > .body > .apps > .app:hover {
  box-shadow: 0px 1px 10px grey;
}

.index-body > .contents > .body > .apps > .app > .image {
  height: 75px;
  margin-top: 12px;
}

.index-body > .contents > .body > .apps > .app > p {
  font-size: 16px;
}

.index-body > .contents.about {
  width: 100%;
  height: 0;
  margin-top: max(30vh, 40vw);
  margin-bottom: min(-30vh, -40vw);
}

.index-body > .cloud-photo {
  width: 100vw;
  margin-bottom: -106.3vw;
  overflow: hidden;
}

.index-body > .cloud-photo > div {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  top: -46vw;
}

.index-body > .cloud-photo > div > div {
  width: 50vw;
  height: 25vw;
  border-radius: 25px 25px 25px 25px;
}

.index-body > .cloud-photo > .about-header {
  position: relative;
  width: 100%;
  font-size: 10vw;
  font-family: "Pacifico", cursive;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  top: -80vw;
}

.index-body > .cloud-photo > .payment-header {
  position: relative;
  width: 100%;
  font-size: 7vw;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  top: -74vw;
  padding-bottom: 6vw;
}

.index-body > .cloud-photo > .about-arrows {
  position: relative;
  width: 100%;
  font-size: 10vw;
  font-family: "Pacifico", cursive;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center;    /* Vertically center */
  top: -92vw;
}

.index-body > .cloud-photo > img {
  position: relative;
  width: 150vw;
  right: 22vw;
}

.index-body > .glitterbow {
  position: relative;
  margin-bottom: -2vw;
  z-index: -1;
  overflow-x: hidden;
}

.index-body > .glitterbow > img {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}
